*~
_obsolete/test-graph/
_prob_trash/
_untracked/
apache-tinkerpop-gremlin-server-3.2.4/

branches/develop/logs/
branches/develop/smsn-server-1.4-SNAPSHOT-standalone.jar
branches/master/logs/
branches/master/smsn-server-1.3-standalone.jar
